@model IEnumerable<SocietyManagement.Models.SP_BuildingUnit_BalanceSheet_Result>

<table class="table table-sm table-hover table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BType)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Debit)
        </th>
        <th>Balance</th>        
    </tr>
    @{
        decimal Balance = 0; }

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BDate)
        </td>
        <td>            
            <a href="@Url.Action("Details", item.RecType, new { id = item.ID, Title = item.BType })" title="Details">@item.BType</a>
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.Details)
        </td>        
        <td class="right">
           @if (item.Credit > 0)
           {
               @Html.DisplayFor(modelItem => item.Credit)
           }
        </td>
        <td class="right">
            @if (item.Debit > 0)
            {
                @Html.DisplayFor(modelItem => item.Debit)
            }
        </td>
        <td class="right">
                        @{ 
                            Balance = Balance + item.Credit - item.Debit;
                         }
            @{
                if (Balance > 0)
                {
                    <span class="text-danger" title="@Balance Credit">@Balance Cr</span>
                }
                else if (Balance < 0)
                {
                    <span class="text-success" title="@(Balance * -1) Debit">@(Balance * -1) Dr</span>
                }
                else
                {
                    <span>@Balance</span>
                }
            }
        </td>              
    </tr>
                }

    @if (Model.Count() > 0)
    {
        
    }
    else
    {
        <tr>
        <td colspan = "7" class="bg-warning"> No Data available</td>
         </tr>
    }

</table>
