@model IEnumerable<SocietyManagement.Models.Due>

<table class="table table-sm table-hover table-responsive table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueAmount)
        </th>
        <th>
            Penalty
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>

        <th></th>
    </tr>
    @{
        decimal TotalPenalty = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingUnit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueType.KeyValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td class="right">
                @Html.DisplayFor(modelItem => item.DueAmount)
            </td>
            <td class="right">
                @{
                    decimal penalty = item.Penalties.Where(d => d.IsDeleted == false).Sum(p => p.Amount);
                    if (penalty > 0)
                    {
                        TotalPenalty += penalty;
                        <a href="@Url.Action("Index","Penalty", new { id = item.DueID })" title="Penalty">@penalty</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Create","Penalty", new { id = item.DueID })" title="Add Penalty">0.00</a>
                    }
                }                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a href="@Url.Action("Details","Due", new { id = item.DueID })" title="Details"><span class="glyphicon glyphicon-info-sign"></span></a>
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Create","Collection", new { id = item.DueID })" title="Create Payment"><span class="icon-library"></span></a>
                    <a href="@Url.Action("Edit","Due", new { id = item.DueID })" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="@Url.Action("Delete","Due", new { id = item.DueID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                }
            </td>
        </tr>
    }

    @if (Model.Count() > 0)
    {
        <tr>
            <th colspan="3">Total</th>
            <th class="hidden-xs"></th>
            <th class="right">@Model.Sum(s => s.DueAmount)</th>
            @if (TotalPenalty > 0)
            {
                <th class="right">@TotalPenalty</th>
            }
            else
            {
                <th class="right">0.00</th>
            }
            <th></th>
            <th></th>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="8">No Data available</td>
        </tr>
    }

</table>

