@model IEnumerable<SocietyManagement.Models.BuildingUnit>

<table class="table table-sm table-hover table-responsive table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>
        @if (User.IsInRole("SuperUser"))
        {
            <th>Action</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details","Building", new { id = item.BuildingID })" title="Details">@item.Building.BuildingName</a>
            </td>
            <td>
                <a href="@Url.Action("Details","BuildingUnit", new { id = item.UnitID })" title="Details">@item.UnitName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType.KeyValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            @if (User.IsInRole("SuperUser"))
            {
                <td align="center">
                    <a href="@Url.Action("Edit","BuildingUnit", new { id = item.UnitID })" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="@Url.Action("Delete","BuildingUnit", new { id = item.UnitID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            }
        </tr>
    }

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="5">No Data available</td>
    </tr>
}

</table>
