<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>@ViewBag.Title - Society Inbox</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE.css">



    <!-- Ionicons -->
    <!-- <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">  -->
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/skins/skin-blue.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

   
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
    <style>
        .search > .dropdown-menu {
            position: relative;
            width: 100%;
            top: 0px !important;
            /*left: 0px !important;*/
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>@SiteSetting.Item("Society.ShortName")</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>@SiteSetting.Item("Society.Name")</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Notification")">
                                <span class="fa fa-bell-o"></span>
                                <span class="label label-warning" id="cntNotification"></span>
                            </a>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @if (SocietyManagement.Models.Helper.CurrentUser().Gender == "Female")
                                {
                                    <img src="/images/UserFemale.png" class="user-image" alt="User Image">
                                }
                                else
                                {
                                    <img src="~/images/UserMale.png" class="user-image" alt="User Image">
                                }
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @if (SocietyManagement.Models.Helper.CurrentUser().Gender == "Female")
                                    {
                                        <img src="/images/UserFemale.png" class="img-circle" alt="User Image">
                                    }
                                    else
                                    {
                                        <img src="~/images/UserMale.png" class="img-circle" alt="User Image">
                                    }
                                    <p>
                                        @SocietyManagement.Models.Helper.CurrentUser().Name
                                        <small>(Role : @SocietyManagement.Models.Helper.CurrentUser().Role)</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("MyProfile", "Manage")" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> Sign out</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <!--<li>
                          <a href="#" data-toggle="control-sidebar"><span class="fa fa-gears"></span></a>
                        </li>-->
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        @if (SocietyManagement.Models.Helper.CurrentUser().Gender == "Female")
                        {
                            <img src="/images/UserFemale.png" class="img-circle" alt="User Image">
                        }
                        else
                        {
                            <img src="~/images/UserMale.png" class="img-circle" alt="User Image">
                        }
                    </div>
                    <div class="pull-left info">
                        <p>@SocietyManagement.Models.Helper.CurrentUser().Name</p>
                        <a href="#"><span class="fa fa-circle text-green"></span> Role : @SocietyManagement.Models.Helper.CurrentUser().Role</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="/Search/" method="get" class="sidebar-form form-inline">
                    <div class="input-group search">                       
                            <input style="width:169px;" name="q" class="form-control typeahead twitter-typeahead" data-provide="typeahead" placeholder="search..." type="text">                       
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <span class="fa fa-search"></span>
                            </button>                        
                    </div>
                </form>
                <script type="text/javascript">
                    var data = ["A-101", "B-101", "C-101"];// [{ "id": "222", "name": "sneha", "employee_salary": "100000", "employee_age": "23" }, { "id": "223", "name": "arpita", "employee_salary": "40000", "employee_age": "33" }, { "id": "225", "name": "pogi", "employee_salary": "5646545", "employee_age": "546" }, { "id": "229", "name": "eer", "employee_salary": "0", "employee_age": "0" }, { "id": "232", "name": "sdfadf", "employee_salary": "0", "employee_age": "0" }, { "id": "234", "name": "dfgdgd", "employee_salary": "45", "employee_age": "21" }, { "id": "236", "name": "nb", "employee_salary": "0", "employee_age": "0" }, { "id": "237", "name": "BHsdgygbfvr1bn", "employee_salary": "0", "employee_age": "0" }, { "id": "238", "name": "BHsdgygbfvr1bn", "employee_salary": "0", "employee_age": "0" }, { "id": "239", "name": "assa", "employee_salary": "0", "employee_age": "0" }];
                    var $input = $(".typeahead");
                    $input.typeahead({
                        source: data,
                        autoSelect: true
                    });
                </script>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Home")"><a href="@Url.Action("Index", "Home")" class="active"><span class="glyphicon glyphicon-home text-blue"></span> <span>Home</span></a></li>

                    <li class="treeview @Html.IsSelected(actions: "MyBill,MyPayment,BalanceSheet", controllers: "MyAccount")">
                        <a href="#">
                            <span class="glyphicon glyphicon-briefcase text-green"></span> <span>My Account</span>
                            <span class="pull-right-container">
                                <span class="fa fa-angle-left pull-right"></span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(actions: "MyBill", controllers: "MyAccount")"><a href="@Url.Action("MyBill", "MyAccount", new { id = 0 })"><span class="fa fa-list-alt"></span> Bills</a></li>
                            <li class="@Html.IsSelected(actions: "MyPayment", controllers: "MyAccount")"><a href="@Url.Action("MyPayment", "MyAccount", new { id = 0 })"><span class="fa fa-bank"></span> Payments</a></li>
                            <li class="@Html.IsSelected(actions: "BalanceSheet", controllers: "MyAccount")"><a href="@Url.Action("BalanceSheet", "MyAccount", new { id = 0 })"><span class="fa fa-calculator"></span> Balance Sheet</a></li>
                        </ul>
                    </li>
                    <li class="treeview @Html.IsSelected(controllers: "Notification,NoticeBoard,Poll,Forum,ForumComment,Complaint,ComplaintComment,Event")">
                        <a href="#">
                            <span class="fa fa-handshake-o text-yellow"></span> <span>Communication</span>
                            <span class="pull-right-container">
                                <span class="fa fa-angle-left pull-right"></span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controllers: "Notification")"><a href="@Url.Action("Index", "Notification")"><span class="fa fa-envelope-o"></span> Notification</a></li>
                            <li class="@Html.IsSelected(controllers: "NoticeBoard")"><a href="@Url.Action("Index", "NoticeBoard")"><span class="glyphicon glyphicon-blackboard"></span> Notice Board</a></li>
                            <li class="@Html.IsSelected(controllers: "Poll")"><a href="@Url.Action("Index", "Poll")"><span class="fa fa-tasks"></span> Opinion Poll</a></li>
                            <li class="@Html.IsSelected(controllers: "Forum,ForumComment")"><a href="@Url.Action("Index", "Forum")"><span class="fa fa-bullhorn"></span> Forum</a></li>
                            <li class="@Html.IsSelected(controllers: "Complaint,ComplaintComment")"><a href="@Url.Action("Index", "Complaint")"><span class="fa fa-hand-o-up"></span> Complaint</a></li>
                            <li class="@Html.IsSelected(controllers: "Event")"><a href="@Url.Action("Index", "Event")"><span class="fa fa-calendar-check-o"></span> Events</a></li>
                        </ul>
                    </li>
                    <li class="treeview @Html.IsSelected(controllers: "Building,BuildingUnit")">
                        <a href="#">
                            <span class="fa fa-building text-aqua"></span> <span>Society</span>
                            <span class="pull-right-container">
                                <span class="fa fa-angle-left pull-right"></span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controllers: "Building")"><a href="@Url.Action("Index", "Building")"><span class="fa fa-cubes"></span> Buildings</a></li>
                            <li class="@Html.IsSelected(controllers: "BuildingUnit")"><a href="@Url.Action("Index", "BuildingUnit")"><span class="fa fa-cube"></span> Building Units</a></li>
                        </ul>
                    </li>
                    @if (SocietyManagement.Models.Helper.IsInRole("Admin") || SocietyManagement.Models.Helper.IsInRole("Manager") || SocietyManagement.Models.Helper.IsInRole("Super"))
                    {
                        <li class="treeview @Html.IsSelected(controllers: "RecurringDue,Due,Collection,Expense")">
                            <a href="#">
                                <span class="fa fa-bank text-green"></span> <span>Society Account</span>
                                <span class="pull-right-container">
                                    <span class="fa fa-angle-left pull-right"></span>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @if (SocietyManagement.Models.Helper.IsInRole("Admin") || SocietyManagement.Models.Helper.IsInRole("Super"))
                                {
                                  <li class="@Html.IsSelected(controllers: "RecurringDue")"><a href="@Url.Action("Index", "RecurringDue")"><span class="fa fa-retweet"></span> Recurring Bill</a></li>
                                }
                                <li class="@Html.IsSelected(controllers: "Due")"><a href="@Url.Action("Index", "Due")"><span class="fa fa-list-alt"></span> Maintanance Bills</a></li>
                                <li class="@Html.IsSelected(controllers: "Collection")"><a href="@Url.Action("Index", "Collection")"><span class="fa fa-bank"></span> Collections</a></li>
                                <li class="@Html.IsSelected(controllers: "Expense")"><a href="@Url.Action("Index", "Expense")"><span class="fa fa-money"></span> Expenses</a></li>
                            </ul>
                        </li>
                    }
                    @if (SocietyManagement.Models.Helper.IsInRole("Admin") || SocietyManagement.Models.Helper.IsInRole("Manager") || SocietyManagement.Models.Helper.IsInRole("Super"))
                    {
                        <li class="treeview @Html.IsSelected(controllers: "Report")">
                            <a href="#">
                                <span class="fa fa-pie-chart text-primary"></span> <span>Reports</span>
                                <span class="pull-right-container">
                                    <span class="fa fa-angle-left pull-right"></span>
                                </span>
                            </a>
                            <ul class="treeview-menu">                                                                
                                <li class="@Html.IsSelected(actions: "CollectionReport",controllers: "Report")"><a href="@Url.Action("CollectionReport", "Report")"><span class="fa fa-bank"></span> Collection Report</a></li>
                                <li class="@Html.IsSelected(actions: "ExpenseReport",controllers: "Report")"><a href="@Url.Action("ExpenseReport", "Report")"><span class="fa fa-money"></span> Expense Report</a></li>
                            </ul>
                        </li>
                    }
                    @if (SocietyManagement.Models.Helper.IsInRole("Admin") || SocietyManagement.Models.Helper.IsInRole("Super"))
                    {
                        <li class="treeview @Html.IsSelected(controllers: "RecurringDue,KeyValue,SystemSetting,EmailTemplate,User")">
                            <a href="#">
                                <span class="fa fa-superpowers text-orange"></span> <span>Admin</span>
                                <span class="pull-right-container">
                                    <span class="fa fa-angle-left pull-right"></span>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @if (SocietyManagement.Models.Helper.IsInRole("Admin") || SocietyManagement.Models.Helper.IsInRole("Super"))
                                {
                                    <li class="@Html.IsSelected(controllers: "User")"><a href="@Url.Action("Index", "User")"><span class="fa fa-users"></span> Users</a></li>
                                    <li class="@Html.IsSelected(controllers: "EmailTemplate")"><a href="@Url.Action("Index", "EmailTemplate")"><span class="fa fa-envelope"></span> Email Template</a></li>
                                }
                                @if (SocietyManagement.Models.Helper.IsInRole("Super"))
                                {
                                    <li class="@Html.IsSelected(controllers: "RecurringDue")"><a href="@Url.Action("CalculateBill", "RecurringDue", new { id = 0 })"><span class="fa fa-list-alt"></span> Calculate Bills</a></li>
                                    <li class="@Html.IsSelected(controllers: "KeyValue")"><a href="@Url.Action("Index", "KeyValue")"><span class="fa fa-bars"></span> Key Values</a></li>
                                    <li class="@Html.IsSelected(controllers: "SystemSetting")"><a href="@Url.Action("Index", "SystemSetting")"><span class="fa fa-cogs"></span> System Setting</a></li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="treeview @Html.IsSelected(controllers: "Manage")">
                        <a href="#">
                            <span class="fa fa-cog text-purple"></span> <span>Settings</span>
                            <span class="pull-right-container">
                                <span class="fa fa-angle-left pull-right"></span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controllers: "Manage",actions: "MyProfile")"><a href="@Url.Action("MyProfile", "Manage")"><span class="fa fa-id-card-o"></span> Update Profile</a></li>
                            <li class="@Html.IsSelected(controllers: "Manage",actions: "ChangePassword")"><a href="@Url.Action("ChangePassword", "Manage")"><span class="fa fa-key"></span> Change Password</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out text-red"></span> <span>Sign out</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->

            <section class="content">
                <div class="box  box-primary">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            &copy; 2017 <a href="@SiteSetting.Item("Society.URL")">@SiteSetting.Item("Society.Name")</a>. Powerd by <a href="@SiteSetting.Item("Site.URL")">@SiteSetting.Item("Site.Name")</a>
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        function goBack() {
            window.history.back();
        }

        function activeLink() {
            var controller = '@ViewContext.RouteData.GetRequiredString("controller")';
            var action = '@ViewContext.RouteData.GetRequiredString("action")';
            alert(controller + '-' + action);
        }

        $(document).ready(function () {
            var urln = '@Url.Action("NotificationCount", "Notification")';
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: urln,
                data: '',
                success: function (Data) {
                    $('#cntNotification').html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(textStatus);
                }
            });
        });
    </script>
</body>
</html>
