@model IEnumerable<SocietyManagement.Models.Collection>
@using SocietyManagement.Models;

@{    
    Boolean IsAdmin = Helper.IsInRole("Admin");
    Boolean IsSuper = Helper.IsInRole("Super");
    Boolean IsManager = Helper.IsInRole("Manager");
}

<table class="table table-sm table-hover table-condensed table-bordered">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </th>
        @if (ViewContext.RouteData.GetRequiredString("action") == "Index")
        {
            <th>
                @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.PaymentModeID)
        </th>

        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionAmount)
        </th>
        @if (IsManager || IsSuper)
            {
            <th>Action</th>
        }
    </tr>

    @foreach (var item in Model.OrderBy(o => o.CollectionDate))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                <a href="@Url.Action("Details", "Collection", new { id = item.CollectionID })" title="Details">@item.ReceiptNumber</a>
            </td>
            @if (ViewContext.RouteData.GetRequiredString("action") == "Index")
            {
                <td>
                    <a href="@Url.Action("Details","BuildingUnit",new {id=item.UnitID})">@item.BuildingUnit.UnitName</a>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode.KeyValues)
            </td>

            <td class="hidden-xs right">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="hidden-xs right">
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.CollectionAmount)
            </td>
            @if (IsManager || IsSuper)
            {
                <td class="list-action">
                    <a href="@Url.Action("Receipt","FileDownload", new { id = item.CollectionID })" title="PDF"><i class="fa fa-file-pdf-o"></i></a>
                    <a href="@Url.Action("Edit","Collection", new { id = item.CollectionID })" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete","Collection", new { id = item.CollectionID })" title="Delete"><i class="fa fa-remove"></i></a>

                </td>
            }
        </tr>
    }
    @if (Model.Count() > 0)
    {
        <tr>
            @if (ViewContext.RouteData.GetRequiredString("action") == "Index")
            {
                <th colspan="4">Total</th>
            }
            else
            {
                <th colspan="3">Total</th>
            }
            <th class="hidden-xs right">@Model.Sum(s => s.Amount)</th>
            <th class="hidden-xs right">@Model.Sum(s => s.Discount)</th>
            <th class="right">@Model.Sum(s => s.CollectionAmount)</th>
            @if (IsManager || IsSuper)
            {<th></th>}
        </tr>
    }
    else
    {
        <tr>
            <td colspan="8">No Data available</td>
        </tr>
    }
</table>
