@model IEnumerable<SocietyManagement.Models.RecurringDue>

<table class="table table-sm table-hover table-condensed table-bordered">
    <tr>
        @if (ViewContext.RouteData.GetRequiredString("action") == "Index")
        {
            <th>
                @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.DueDays)
        </th>
        @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
        {
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.LastRunDate)
            </th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (ViewContext.RouteData.GetRequiredString("action") == "Index")
            {
                <td>
                    <a href="@Url.Action("Details","BuildingUnit",new {id=item.UnitID})">@item.BuildingUnit.UnitName</a>
                </td>
            }
            <td>
                <a href="@Url.Action("Details","RecurringDue", new { id = item.RecurringID })" title="Details">@item.RecurringType.KeyValues @item.DueType.KeyValues</a>
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            <td class="right">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="hidden-xs right">
                @Html.DisplayFor(modelItem => item.DueDays)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.LastRunDate)
                </td>
                <td class="center" nowrap>
                    <a href="@Url.Action("Edit","RecurringDue", new { id = item.RecurringID })" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete","RecurringDue", new { id = item.RecurringID })" title="Delete"><i class="fa fa-remove"></i></a>
                </td>
            }
        </tr>
    }

    @if (Model.Count() <= 0)
    {
        <tr>
            <td colspan="9">No Data available</td>
        </tr>
    }
</table>
