@model IEnumerable<SocietyManagement.Models.EmailTemplate>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Email Template";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-envelope"></i> @ViewBag.Title</h3>
    @if (Helper.IsInRole("Super"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>

<div class="box-body">
    <table class="table table-sm table-hover table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TemplateTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateSubject)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.FromEmail)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.ReplyToEmail)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.TemplateID })" title="Details">@Html.DisplayFor(modelItem => item.TemplateType.KeyValues)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemplateSubject)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.FromEmail)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.ReplyToEmail)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.TemplateID })" title="Edit"><i class="fa fa-edit"></i></a>
                    @if (Helper.IsInRole("Super"))
                    {
                        <a href="@Url.Action("Delete", new { id = item.TemplateID })" title="Delete"><i class="fa fa-remove"></i></a>
                    }
                </td>
            </tr>
        }

    </table>
</div>