@model SocietyManagement.Models.BuildingUnit

@{
    ViewBag.Title = "Building Unit";
}

<h3><span class="glyphicon glyphicon glyphicon-home"></span> Building Unit</h3>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneTimeMaintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneTimeMaintenance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.KeyValues)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UnitID }) |*@
    <a href="@Url.Action("Index")" class="col-md-offset-1 btn btn-success" role="button">Back</a>
</p>
