@model SocietyManagement.Models.BuildingUnit

@{
    ViewBag.Title = "Building Unit";
}

<h3><span class="glyphicon glyphicon glyphicon-home"></span> Building Unit</h3>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneTimeMaintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneTimeMaintenance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.KeyValues)
        </dd>
    </dl>
</div>

Bills
<table class="table table-sm table-striped table-hover table-responsive">
    <tr>
        <th>
            Date
        </th>
        <th class="hidden-xs">
            Bill Type
        </th>
        <th>
            Perticular
        </th>        
        <th>
            Due Date
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model.Dues.Where(d=>d.IsDeleted==false).OrderBy(o=>o.BillDate))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.DueType.KeyValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td class="right">
                @Html.DisplayFor(modelItem => item.DueAmount)
            </td>
            
        </tr>
    }

</table>

Payments
<table class="table table-sm table-striped table-hover table-responsive">
    <tr>
        <th>
            Date
        </th>
        <th>
            Payment Mode
        </th>
        <th>
            Receipt
        </th>
        <th class="hidden-xs">
            Details
        </th>
        <th>
            Amount
        </th>
        <th>
            Penalty
        </th>   
    </tr>

    @foreach (var item in Model.Collections.Where(d => d.IsDeleted == false).OrderBy(o => o.CollectionDate))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode.KeyValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptNumber)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatePaymentCharges)
            </td>                      
        </tr>
    }
</table>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UnitID }) |*@
    <a href="@Url.Action("Index")" class="col-md-offset-1 btn btn-success" role="button">Back</a>
</p>
