@model SocietyManagement.Models.BuildingUnit

@{
    ViewBag.Title = "Building Unit";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cube"></i> @ViewBag.Title</h3>
</div>
<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneTimeMaintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneTimeMaintenance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.KeyValues)
        </dd>
    </dl>


    @if (Model.BuildingUnitMedias.Count > 0)
    {
        <h4><i class="fa fa-files-o"></i> Files</h4>
        <table class="table table-sm table-hover table-responsive table-condensed table-bordered">
            <tr>
                <th>File Name</th>
                <th>File Type</th>
                <th class="hidden-xs">Date</th>
                <th></th>
            </tr>
            @foreach (var media in Model.BuildingUnitMedias.Where(d => d.IsDeleted == false))
        {
        <tr id="row_@media.MediaID">
            <td>
                @Html.DisplayFor(itemModel => media.MediaTitle)
            </td>
            <td>
                @Html.DisplayFor(itemModel => media.MediaType)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(itemModel => media.CreatedDate)
            </td>
            <td>
                <a href="@Url.Action("DownloadFile", new { id = media.MediaID })" title="Download"><span class="glyphicon glyphicon-download"></span></a>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                    {
                    <a href="@Url.Action("Edit","BuildingUnitMedia", new { id = media.MediaID })" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="@Url.Action("Delete","BuildingUnitMedia", new { id = media.MediaID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                    }
            </td>

        </tr>
        }
        </table>
    }


    <h4><i class="fa fa-retweet"></i> Recurring Bills</h4>
    @Html.Partial("_RecurringDue", Model.RecurringDues)

    <h4><i class="fa fa-list-alt"></i> Bills</h4>
    @Html.Partial("_Bill", Model.Dues)

    <h4><i class="fa fa-bank"></i> Payments</h4>
    @Html.Partial("_Payment", Model.Collections)


</div>
<div class="box-footer">
    <a class="btn btn-success" href="#" onclick="goBack()" title="Go Back"><span class="fa fa-backward"></span> Back</a>
</div>
