@model SocietyManagement.Models.ComplaintComment

@{
    ViewBag.Title = "Complaint Comment";
}

<h3><span class="glyphicon glyphicon-hand-up"></span> Complaint Comment</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

   
        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complaint.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complaint.AuthorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.KeyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.KeyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }) |
    <a class="btn btn-success" href="#" onclick="goBack()" title="Go Back"><span class="fa fa-backward"></span> Back</a>
</p>
