@model SocietyManagement.Models.Poll

@{
    ViewBag.Title = "Poll";
}

<h3><span class="glyphicon glyphicon-tasks"></span> Poll</h3>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PollTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PollType.KeyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollType.KeyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
