@model SocietyManagement.Models.Poll

@{
    ViewBag.Title = "Opinion Poll";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-tasks"></i> @ViewBag.Title</h3>
</div>

<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PollTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.Raw(Model.Details)
        </dd>

      
    </dl>



    @foreach (var options in Model.PollOptions)
    {
        int TotalVote = int.Parse(ViewBag.TotalVote.ToString());
        int Vote = options.PollVotes.Where(d => d.IsDeleted == false).Count();
        decimal Percentage = 0;
        if (TotalVote > 0)
        {
            Percentage = (Vote * 100) / TotalVote;
        }
        <Label>@options.PollOption1</Label>
        <div class="progress">
            @if (Percentage <= 25)
        {
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-info" role="progressbar" aria-valuenow="@Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@Percentage%">@Vote / @TotalVote</div>
        } else if (Percentage > 25 & Percentage <=50)
        {
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-warning" role="progressbar" aria-valuenow="@Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@Percentage%">@Vote / @TotalVote</div>
        }
        else if (Percentage > 50 & Percentage <= 75)
        {
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-primary" role="progressbar" aria-valuenow="@Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@Percentage%">@Vote / @TotalVote</div>
        }
        else if (Percentage > 70)
        {
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-success" role="progressbar" aria-valuenow="@Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@Percentage%">@Vote / @TotalVote</div>
        }
        </div>
    }
</div>

<div class="box-footer">
    <a class="btn btn-success" href="@Url.Action("Index")" title="Go Back"><span class="fa fa-backward"></span> Back</a>
</div>
