@model IEnumerable<SocietyManagement.Models.Poll>

@{
    ViewBag.Title = "Opinion Poll";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-tasks"></i> @ViewBag.Title</h3>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser") | User.IsInRole("Manger"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>

<div class="box-body">
    <table class="table table-sm table-hover table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PollTitle)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser") || User.IsInRole("Manager"))
{
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.PollType.KeyValues)
        </th>
}
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>Vote</th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { id = item.PollID })" title="Details">@item.PollTitle</a>
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("SuperUser") || User.IsInRole("Manager"))
{
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.PollType.KeyValues)
        </td>
}
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td class="list-action">
            <a href="@Url.Action("Vote", new { id = item.PollID })" title="Vote"><span class="fa fa-hand-o-up"></span></a>            
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser") | User.IsInRole("Manger"))
{
            <a href="@Url.Action("Edit", new { id = item.PollID })" title="Edit"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete", new { id = item.PollID })" title="Delete"><i class="fa fa-remove"></i></a>
}
        </td>
    </tr>
}

    </table>
</div>