@model SocietyManagement.Models.Collection
@using SocietyManagement.Models;
@{    
   ViewBag.Title = "Payment";  
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-bank"></i> @ViewBag.Title</h3>
    <div class="pull-right">
        @if (Helper.IsInRole("Manager") || Helper.IsInRole("Super"))
        {            
            <a href="@Url.Action("Edit", new { id = Model.CollectionID })" title="Edit"><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a><span> &nbsp; </span>
            <a href="@Url.Action("Delete", new { id = Model.CollectionID })" title="Delete"><i class="fa fa-remove"></i> <span class="hidden-xs">Delete</span></a><span> &nbsp; </span>
        }
       <a href="#" onclick="goback();" title="Go Back"><i class="fa fa-backward"></i> <span class="hidden-xs">Back</span></a>       
    </div>
</div>
<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </dt>

        <dd>
            <a href="@Url.Action("Details","BuildingUnit",new { id = Model.UnitID })">@Model.BuildingUnit.UnitName</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CollectionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentModeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode.KeyValues)
        </dd>

        @if (Model.PaymentMode.KeyValues == "Bank Transfer" || Model.PaymentMode.KeyValues == "UPI Payment")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>
        }
        @if (Model.PaymentMode.KeyValues == "Bank Transfer" || Model.PaymentMode.KeyValues == "Cheque" || Model.PaymentMode.KeyValues == "UPI Payment")
        {
            <dt>
                @if (Model.PaymentMode.KeyValues == "Bank Transfer")
                {
                    <span>Bank</span>
                }
                else if (Model.PaymentMode.KeyValues == "UPI Payment")
                {
                    <span>Mobile/UPI ID</span>
                }
                else
                {
                    @Html.DisplayNameFor(model => model.ChequeBank)
                }
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChequeBank)
            </dd>

            <dt>
                @if (Model.PaymentMode.KeyValues == "Bank Transfer" || Model.PaymentMode.KeyValues == "UPI Payment")
                {
                    <span>Transfer Date</span>
                }
                else
                {
                    @Html.DisplayNameFor(model => model.ChequeDate)
                }
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ChequeDate)
            </dd>
        }
        @if (Model.PaymentMode.KeyValues == "Cheque")
        {
            <dt>
                @Html.DisplayNameFor(model => model.ChequeNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChequeNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ChequeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChequeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChequeCleared)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChequeCleared)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChequeEncashmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChequeEncashmentDate)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.Raw(Model.Details)
        </dd>
    </dl>


    @if (Model.CollectionMedias.Where(d => d.IsDeleted == false).Count() > 0)
    {
        <h4><i class="fa fa-files-o"></i> Files</h4>
        <table class="table table-sm table-hover table-condensed table-bordered">
            <tr>
                <th>Title</th>
                <th>File Name</th>
                <th>File Type</th>                
                @if (Helper.IsInRole("Manager") || Helper.IsInRole("Super"))
                {
                    <th>Action</th>
                }
            </tr>
            @foreach (var media in Model.CollectionMedias.Where(d => d.IsDeleted == false))
            {
                <tr id="row_@media.MediaID">
                    <td>@Html.DisplayFor(itemModel => media.MediaTitle)</td>
                    <td>
                        <a href="@Url.Action("DownloadFile", new { id = media.MediaID })" title="Download">@Html.DisplayFor(itemModel => media.FileName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => media.MediaType)
                    </td>
                    @if (Helper.IsInRole("Manager") || Helper.IsInRole("Super"))
                    {
                        <td class="list-action">
                            <a href="@Url.Action("EditFile",new { id = media.MediaID })" title="Edit"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("DeleteFile",new { id = media.MediaID })" onclick="return DeleteFile(@media.MediaID,'@media.FileName');" title="Delete"><i class="fa fa-remove"></i></a>
                            <script>
                                function DeleteFile(id,fileName)
                                {
                                    return window.confirm('Do you want to delete ' + fileName + ' file?');
                                }
                            </script>
                        </td>
                    }

                </tr>
            }
        </table>
    }
</div>