@model IEnumerable<SocietyManagement.Models.Collection>

@{
    ViewBag.Title = "Payments";
}

<h3><span class="icon-library"></span> Payments</h3>

<table class="table table-sm table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentModeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatePaymentCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingUnit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode.KeyValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatePaymentCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptNumber)
            </td>            
            <td>
                <a href="@Url.Action("Details", new { id = item.CollectionID, Title = "Payment" })" title="Details"><span class="glyphicon glyphicon-info-sign"></span></a>
            </td>
        </tr>
    }

</table>
