@model IEnumerable<SocietyManagement.Models.Collection>

@{
    ViewBag.Title = "Payments";
}

<h3><span class="icon-library"></span> Payments</h3>

@if (ViewBag.UnitID != null)
{
    bool isAll = true;
    <ul class="nav nav-pills pull-right">
        @foreach (var item in (SelectList)ViewBag.UnitID)
        {
            if (item.Selected)
            {
                isAll = false;
                <li class="active"><a href="#">@item.Text</a></li>
            }
            else
            {
                <li><a href="@Url.Action("MyPayment", new { id = item.Value })">@item.Text</a></li>
            }
        }
        @if (isAll)
        {
            <li class="active"><a href="@Url.Action("MyPayment", new { id = 0 })">All</a></li>
        }
        else
        {
            <li><a href="@Url.Action("MyPayment", new { id = 0 })">All</a></li>
        }
    </ul>

@Html.Partial("_Payment", Model)
}
else
{
    <div class="bg-info" style="padding:10px"><span class="glyphicon glyphicon-info-sign"></span>No Building Unit assigned to your user id.<br />Please contact your Manager for details.</div>
}