@model SocietyManagement.Models.Notification

@{
    ViewBag.Title = "Notification";
}


<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-envelope"></i> @ViewBag.Title</h3>
</div>

<div class="box-body">
    <h4>Are you sure you want to delete this?</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TemplateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailTemplate.TemplateType.KeyValues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dd>
            @Html.Raw(Model.Body)
        </dd>
    </dl>

</div>
<div class="box-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="form-actions no-color col-md-offset-1 col-md-11">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</button>
                    <a href="@Url.Action("Index")" title="Go Back" class="btn btn-default"><i class="fa fa-backward"></i> Back</a>
                </div>
            </div>
        </div>
    }
</div>
