@model IEnumerable<SocietyManagement.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-envelope"></i> @ViewBag.Title</h3>
</div>
<div class="box-body">
    <table class="table table-sm table-hover table-responsive table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.TemplateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.EmailTemplate.TemplateType.KeyValues)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.NotificationID })" title="Details">
                    @if(item.IsRead)
                    {
                        <span>@item.Subject</span>
                    }
                    else
                    {
                        <span><b>@item.Subject</b></span>
                    }
                    </a>
                </td>
                <td class="list-action">
                    <a href="@Url.Action("Archive", new { id = item.NotificationID })" title="Archive"><span class="fa fa-archive"></span></a>
                        <a href="@Url.Action("Delete", new { id = item.NotificationID })" title="Delete"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
        }

    </table>
</div>