@model SocietyManagement.Models.RecurringDue

@{
    ViewBag.Title = "Recurring Bill";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-retweet"></i> @ViewBag.Title</h3>
</div>

<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingUnit.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastRunDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastRunDate)
        </dd>

    </dl>
</div>
<div class="box-footer">
    <a class="btn btn-success" href="#" onclick="goBack()" title="Go Back"><span class="fa fa-backward"></span> Back</a>
</div>
