@model SocietyManagement.Models.CommitteeMember
@using SocietyManagement.Models

@{
    ViewBag.Title = "Committee Member";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-users"></i> @ViewBag.Title</h3>
    <div class="pull-right">
        @if (Helper.IsInRole("Manager") || Helper.IsInRole("Super"))
        {
            <a href="@Url.Action("Edit", new { id = Model.UnitID })" title="Edit"><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a><span> &nbsp; </span>
        }
        @if (Helper.IsInRole("Super"))
        {
            <a href="@Url.Action("Delete", new { id = Model.UnitID })" title="Delete"><i class="fa fa-remove"></i> <span class="hidden-xs">Delete</span></a><span> &nbsp; </span>
        }
        <a href="@Url.Action("Index")" title="List"><i class="fa fa-list"></i> <span class="hidden-xs">List</span></a><span> &nbsp; </span>
    </div>
</div>

<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesignationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation.KeyValues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingUnit.UnitName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            <a href="mailto:@Model.EmailID">@Model.EmailID</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            <a href="mailto:@Model.Mobile">@Model.Mobile</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenureFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenureFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenureTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenureTo)
        </dd>
    </dl>
</div>

