@model IEnumerable<SocietyManagement.Models.SP_BuildingUnit_BalanceSheet_Result>

@{
    ViewBag.Title = "Balance Sheet";
}



<h3><span class="glyphicon glyphicon-usd"></span> Balance Sheet</h3>
@if (ViewBag.UnitID != null)
{
<ul class="nav nav-pills pull-right">
    @foreach (var item in (SelectList)ViewBag.UnitID)
    {
        if (item.Selected)
        {
            <li class="active"><a href="#">@item.Text</a></li>
        }
        else
        {
            <li><a href="@Url.Action("BalanceSheet", new { id = item.Value })">@item.Text</a></li>
        }
    }
</ul>

@*@Html.DropDownList("UnitID", null, htmlAttributes: new { @class = "form-control" })*@

<table class="table table-sm table-hover table-responsive table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BType)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Debit)
        </th>
        <th>Balance</th>        
    </tr>
    @{
        decimal Balance = 0; }

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BDate)
        </td>
        <td>            
            <a href="@Url.Action("Details", item.RecType, new { id = item.ID, Title = item.BType })" title="Details">@item.BType</a>
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.Details)
        </td>        
        <td class="right">
           @if (item.Credit > 0)
           {
               @Html.DisplayFor(modelItem => item.Credit)
           }
        </td>
        <td class="right">
            @if (item.Debit > 0)
            {
                @Html.DisplayFor(modelItem => item.Debit)
            }
        </td>
        <td class="right">
                        @{ 
                            Balance = Balance + item.Credit - item.Debit;
                         }
            @{
                if (Balance > 0)
                {
                    <span class="text-danger" title="@Balance Credit">@Balance Cr</span>
                }
                else if (Balance < 0)
                {
                    <span class="text-success" title="@(Balance * -1) Debit">@(Balance * -1) Dr</span>
                }
                else
                {
                    <span>@Balance</span>
                }
            }
        </td>              
    </tr>
                }

    @if (Model.Count() > 0)
    {
        
    }
    else
    {
        <tr>
        <td colspan = "7" class="bg-warning"> No Data available</td>
         </tr>
    }

</table>

}
else
{
    <div class="bg-info" style="padding:10px"><span class="glyphicon glyphicon-info-sign"></span>No Building Unit assigned to your user id.<br />Please contact your Manager for details.</div>
}