@model SocietyManagement.Models.Due

@{
    ViewBag.Title = "Bills";
}

<h3><span class="glyphicon glyphicon-usd"></span> Bills</h3>


<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingUnit.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="form-actions no-color col-md-offset-1 col-md-11">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</button>
                    <a href="#" onclick="goBack()" title="Go Back" class="btn btn-default"><i class="fa fa-backward"></i> Back</a>
                </div>
            </div>
        </div>
    }

</div>

