@model SocietyManagement.Models.Due
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Bill";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-list-alt"></i> @ViewBag.Title</h3>
    <div class="pull-right">
        <a href="@Url.Action("Bill","FileDownload", new { id = Model.DueID })"  title="Download PDF"><i class="fa fa-file-pdf-o"></i> <span class="hidden-xs">PDF</span></a><span> &nbsp; </span>        
        @if (Helper.IsInRole("Manger") || Helper.IsInRole("Super"))
        {
            <a href="@Url.Action("Create","Collection", new { id = Model.DueID })" title="Create Payment"><i class="fa fa-bank"></i> <span class="hidden-xs">Payment</span></a><span> &nbsp; </span>
            <a href="@Url.Action("Edit", new { id = Model.DueID })" title="Edit"><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a><span> &nbsp; </span>
            <a href="@Url.Action("Delete", new { id = Model.DueID })" title="Delete"><i class="fa fa-remove"></i> <span class="hidden-xs">Delete</span></a><span> &nbsp; </span>
        }        
        <a href="#" onclick="goBack()" title="Go Back"><i class="fa fa-backward"></i> <span class="hidden-xs">Back</span></a>
    </div>
</div>

<div class="box-body">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </dt>

        <dd>            
            <a href="@Url.Action("Details","BuildingUnit",new { id = Model.UnitID })">@Model.BuildingUnit.UnitName</a>           
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>

</div>

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-money"></i> Penalty</h3>
    @if (Helper.IsInRole("Manger") || Helper.IsInRole("Super"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create","Penalty",new {id = Model.DueID })"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">
    <table class="table table-sm table-hover table-condensed table-bordered">
        <tr>

            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                Amount
            </th>
            @if (Helper.IsInRole("Manger") || Helper.IsInRole("Super"))
            {
                <th>Action</th>
            }
        </tr>

        @if (Model.Penalties.Where(d => d.IsDeleted == false).Count() == 0)
        {
            <tr>
                <td colspan="5">No Data found</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Penalties.Where(d => d.IsDeleted == false))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PenaltyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td class="right">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    @if (Helper.IsInRole("Manger") || Helper.IsInRole("Super"))
                    {
                        <td class="list-action">
                            <a href="@Url.Action("Edit", "Penalty", new { id = item.PenaltyID })" title="Edit"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("Delete", "Penalty", new { id = item.PenaltyID })" title="Delete"><i class="fa fa-remove"></i></a>
                        </td>
                    }
                </tr>
            }
            <tr>
                <th colspan="2">Total Penalty</th>
                <th>@Model.Penalties.Where(d => d.IsDeleted == false).Sum(p => p.Amount)</th>
                @if (Helper.IsInRole("Manger") || Helper.IsInRole("Super"))
                {
                    <th></th>
                }
            </tr>
        }
    </table>

</div>
