@model IEnumerable<SocietyManagement.Models.Due>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Bills";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-list-alt"></i> @ViewBag.Title</h3>
    @if (Helper.IsInRole("Manager") || Helper.IsInRole("Super"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
    @Html.Partial("_MonthFilter")
</div>
<div class="box-body">
    @Html.Partial("_Bill", Model)

    @Html.Partial("_DataTable")
</div>