@model IEnumerable<SocietyManagement.Models.Due>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BillDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingUnit.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueType.KeyValues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DueID })
        </td>
    </tr>
}

</table>
