@model IEnumerable<SocietyManagement.Models.Due>

@{
    ViewBag.Title = "Bills";
}

<h3><span class="glyphicon glyphicon-usd"></span> Bills</h3>

<table class="table table-sm table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueAmount)
        </th>
        <th>Penalty</th>        
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BillDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingUnit.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueType.KeyValues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueAmount)
        </td>
        <td>
                        @{ 
                            decimal penalty = item.Penalties.Where(d => d.IsDeleted == false).Sum(p => p.Amount);
                            if (penalty > 0 )
                            {
                                <span>@penalty</span>
                            }
                         }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
    </tr>
}

</table>
