@model IEnumerable<SocietyManagement.Models.Due>

@{
    ViewBag.Title = "Bills";
}

<h3><span class="glyphicon glyphicon-usd"></span> Bills</h3>

@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}
<table class="table table-sm table-hover table-responsive table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BillDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingUnit.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueType.KeyValues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>        
        <td>
            <a href="@Url.Action("Details", new { id = item.DueID })" title="Details"><span class="glyphicon glyphicon-info-sign"></span></a>
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", new { id = item.DueID })" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="@Url.Action("Delete", new { id = item.DueID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
            }
        </td>
    </tr>
}

</table>
