@model SocietyManagement.Models.Expense
@{
    ViewBag.Title = "Expense";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-money"></i> @ViewBag.Title</h3>
</div>

<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentModeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode.KeyValues)
        </dd>

        @if (Model.PaymentMode.KeyValues == "Bank Transfer" || Model.PaymentMode.KeyValues == "Cheque")
        {
        <dt>
            @if (Model.PaymentMode.KeyValues == "Bank Transfer")
                {
                <span>Bank</span>
                }
                else
                {
                @Html.DisplayNameFor(model => model.ChequeBank)
                }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeBank)
        </dd>

        <dt>
            @if (Model.PaymentMode.KeyValues == "Bank Transfer")
                {
                <span>Transfer Date</span>
                }
                else
                {
                @Html.DisplayNameFor(model => model.ChequeDate)
                }
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>
        }
        @if (Model.PaymentMode.KeyValues == "Cheque")
        {
        <dt>
            @Html.DisplayNameFor(model => model.ChequeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChequeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeCleared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeCleared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeEncashmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeEncashmentDate)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>


    </dl>
</div>
<div class="box-footer">
    <a class="btn btn-success" href="#" onclick="goBack()" title="Go Back"><span class="fa fa-backward"></span> Back</a>
</div>

