@model SocietyManagement.Models.Expense

@{
    ViewBag.Title = "Expense";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-money"></i> @ViewBag.Title</h3>
</div>
@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()
    <div class="box-body">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ExpenseID)
            @Html.HiddenFor(Model => Model.CreatedDate)
            @Html.HiddenFor(model => model.YearID)

            <div class="form-group">
                @Html.LabelFor(model => model.ExpenseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpenseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExpenseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PaidTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaidTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaidTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpenseTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ExpenseTypeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExpenseTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TDS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TDS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TDS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PaymentModeID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PaymentModeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PaymentModeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group cheque_ref">
                @Html.LabelFor(model => model.ChequeBank, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChequeBank, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChequeBank, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group cheque">
                @Html.LabelFor(model => model.ChequeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChequeName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChequeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group cheque_ref">
                @Html.LabelFor(model => model.ChequeDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChequeDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChequeDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group cheque_ref">
                @Html.LabelFor(model => model.ChequeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.UDK1)
            @Html.HiddenFor(model => model.UDK2)
            @Html.HiddenFor(model => model.UDK3)
            @Html.HiddenFor(model => model.UDK4)
            @Html.HiddenFor(model => model.UDK5)

        </div>
    </div>
    <div class="box-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
                <a href="#" onclick="goBack()" title="Go Back" class="btn btn-default"><i class="fa fa-backward"></i> Back</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $(document).ready(function () {
        HideShowCheque();
        $("#PaymentModeID").change(function () {
            HideShowCheque();
        });
    });

    function HideShowCheque() {
        $(".cheque").hide();
        $(".ref").hide();
        $(".cheque_ref").hide();
        var mode = $("#PaymentModeID").val();
        if (mode == "1025") {
            $(".cheque_ref").show();
            $(".cheque").show();
            $(".ChequeDate").text("Cheque Date");
            $(".ChequeBank").text("Cheque Bank");
        } else if (mode == "1026") {
            $(".cheque_ref").show();
            $(".ref").show();
            $(".ChequeDate").text("Transfer Date");
            $(".ChequeBank").text("Bank");
        }

        //alert(mode);
    }
</script>
