@model IEnumerable<SocietyManagement.Models.Expense>

@{
    ViewBag.Title = "Expenses";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-money"></i> @ViewBag.Title</h3>
    @if (User.IsInRole("SuperUser"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">
    <table class="table table-sm table-hover table-responsive table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentModeID)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <th>Action</th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ExpenseID })" title="Details">@item.ExpenseType.KeyValues</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMode.KeyValues)
                </td>

                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <td class="list-action">
                        <a href="@Url.Action("Edit", new { id = item.ExpenseID })" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", new { id = item.ExpenseID })" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>        
                }
            </tr>
        }

    </table>
</div>