@model SocietyManagement.Models.NoticeBoard

@{
    ViewBag.Title = "Notice";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="glyphicon glyphicon-blackboard"></i> @ViewBag.Title</h3>
    
        <div class="pull-right">
            
@if (User.IsInRole("Admin") || User.IsInRole("SuperUser") | User.IsInRole("Manger"))
{
    <a href="@Url.Action("Edit", new { id = Model.NoticeID })" title="Edit"><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a><span> &nbsp; </span>
    <a href="@Url.Action("Delete", new { id = Model.NoticeID })" title="Delete"><i class="fa fa-remove"></i> <span class="hidden-xs">Delete</span></a><span> &nbsp; </span>
}
            <a href="#" onclick="goBack()" title="Go Back"><i class="fa fa-backward"></i> <span class="hidden-xs">Back</span></a>
        </div>
 
</div>

<div class="box-body">

    <h4>@Html.DisplayFor(model => model.NoticeHeading)</h4>
    <small><i class="fa fa-calendar"></i> @Html.DisplayFor(model => model.NoticeDate)</small>
    <br /><br />
    <div class="multiline">
       @Html.Raw(Model.Notice.Replace(Environment.NewLine, "</br>"))
    </div>
</div>


