@model IEnumerable<SocietyManagement.Models.NoticeBoard>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Notice";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="glyphicon glyphicon-blackboard"></i> @ViewBag.Title</h3>
    @if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") | Helper.IsInRole("Manager"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">

   
    <table class="table table-sm table-hover table-condensed table-bordered">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NoticeHeading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticeDate)
            </th>
@if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") | Helper.IsInRole("Manager"))
{
            <th>Action</th>
}
        </tr>

        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    <a href="@Url.Action("Details", new { id = item.NoticeID })" title="Details">@item.NoticeHeading</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoticeDate)
                </td>
                @if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") | Helper.IsInRole("Manager"))
                {
                    <td class="list-action">                        
                        <a href="@Url.Action("Edit", new { id = item.NoticeID })" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", new { id = item.NoticeID })" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>
                }
                           </tr>
        }

    </table>
    </div>