@model SocietyManagement.Models.Penalty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PenaltyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PenaltyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingUnit.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>


    </dl>

</div>
<p>    
    <a href="@Url.Action("Details","Due",new {id = Model.DueID })" class="btn btn-success" role="button">Cancel</a>
</p>
