@model IEnumerable<SocietyManagement.Models.Penalty>

@{
    ViewBag.Title = "Penalty";
}

<h3>Penalty</h3>

@if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
{
<div class="pull-right">
    <a href="@Url.Action("Create",new {id=ViewBag.DueID})"><span class="fa fa-plus-square"></span> Add New</a>
</div>
}

<table class="table table-sm table-hover table-responsive table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PenaltyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingUnit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.DueID })" title="Details"><span class="glyphicon glyphicon-info-sign"></span></a>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <a href="@Url.Action("Edit", new { id = item.DueID })" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="@Url.Action("Delete", new { id = item.DueID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                }
            </td>
        </tr>
    }

</table>
