@model IEnumerable<SocietyManagement.Models.Event>

@{
    ViewBag.Title = "Events";
}
<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-calendar-check-o"></i> @ViewBag.Title</h3>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperUser"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">
    <table class="table table-sm table-hover table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTypeID)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <th>Action</th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.EventID })" t title="Details">@item.EventName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType.KeyValues)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <td class="list-action">
                        <a href="@Url.Action("Edit", new { id = item.EventID })" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", new { id = item.EventID })" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>
                }
            </tr>
        }

    </table>
</div>