@model SocietyManagement.Models.ForumComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ForumComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forum.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forum.AuthorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }) |
    <a href="@Url.Action("Index")" class="col-md-offset-1 btn btn-success" role="button">Back</a>
</p>
