@model SocietyManagement.Models.Complaint
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Complaint";
}


<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-hand-o-up"></i> @ViewBag.Title</h3>
    <div class="pull-right">
        @if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") || SocietyManagement.Models.Helper.GetUserID(User) == Model.AuthorID)
        {
            <a href="@Url.Action("Edit", new { id = Model.ComplaintID })" title="Edit"><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a><span> &nbsp; </span>
            <a href="@Url.Action("Delete", new { id = Model.ComplaintID })" title="Delete"><i class="fa fa-remove"></i> <span class="hidden-xs">Delete</span></a><span> &nbsp; </span>
        }
        <a href="@Url.Action("Index")" title="Go Back"><i class="fa fa-backward"></i> Back</a>
    </div>
</div>

<div class="box-body">
    <h4><a href="#">@Html.DisplayFor(model => model.Title)</a></h4>
    <i class="fa fa-user"></i> @Model.Author.Name &nbsp;
    <i class="fa fa-calendar"></i> @Model.CreatedDate
    <hr />
    @Html.Raw(Model.Details.Replace(Environment.NewLine, "</br>"))
</div>

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-comments"></i> Comments</h3>
    <div class="pull-right">
        @if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") || Helper.IsInRole("Manager") || SocietyManagement.Models.Helper.GetUserID(User) == Model.AuthorID)
        {
            <a href="@Url.Action("Create","ComplaintComment", new { id = Model.ComplaintID })" title="Add Comment"><i class="fa fa-plus-square"></i> <span class="hidden-xs">Add Comment</span></a><span> &nbsp; </span>
        }
    </div>
</div>


@foreach (var item in Model.ComplaintComments.Where(c => c.IsDeleted == false).OrderBy(o => o.CreatedDate))
{
    <div class="box-body" style="border-bottom:1px solid #f4f4f4">
        <i class="fa fa-user"></i> @item.Author.Name &nbsp;
        <i class="fa fa-calendar"></i> @item.CreatedDate

        @if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") | SocietyManagement.Models.Helper.GetUserID(User) == item.AuthorID)
        {
            <div class="pull-right">
                <a href="@Url.Action("Edit","ComplaintComment" ,new { id = item.CommentID })" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete","ComplaintComment", new { id = item.CommentID })" title="Delete"><i class="fa fa-remove"></i></a>
            </div>
        }

        @Html.Raw("</br></br><b>Status : " + item.Status.KeyValues + "</b></br></br>")
        @Html.Raw(item.Comment.Replace(Environment.NewLine, "</br>") + "</br></br>")
    </div>
}
@if (Model.ComplaintComments.Where(c => c.IsDeleted == false).Count() == 0)
{
    <div class="box-body" style="border-bottom:1px solid #f4f4f4">
        No comments added.
    </div>
}


