@model SocietyManagement.Models.Complaint

@{
    ViewBag.Title = "Complaint";
}

<h3><span class="glyphicon glyphicon-hand-up"></span> Complaint</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplaintDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignTo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignTo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintType.KeyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintType.KeyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplaintID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
