@model IEnumerable<SocietyManagement.Models.Complaint>

@{
    ViewBag.Title = "Complaint";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-hand-o-up"></i> @ViewBag.Title</h3>

    <div class="pull-right">
        <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
    </div>
</div>

<div class="box-body">
    <table class="table table-sm table-hover  table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th  class="hidden-xs">
                @Html.DisplayNameFor(model => model.ComplaintTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th  class="hidden-xs">
                @Html.DisplayNameFor(model => model.AssignToID)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComplaintDate)
                </td>
                <td class="overflow-hidden">
                    <a href="@Url.Action("Details", new { id = item.ComplaintID })" title="Details">@item.Title</a>
                </td>
                <td  class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td  class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.ComplaintType.KeyValues)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.KeyValues)
                </td>
                <td  class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.AssignTo.Name)
                </td>
            </tr>
        }

    </table>
</div>