@model IEnumerable<SocietyManagement.Models.Due>
@using SocietyManagement.Models;

<div class="box box-primary" style="min-height:240px;">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list-alt"></i> Recent Bills</h3>
        @if (Model.Count() > 0)
        {
            if (Helper.IsInRole("Admin") || Helper.IsInRole("Super"))
            {
                <div class="pull-right">
                    <a href="@Url.Action("Index","Due")">View More</a>
                </div>
            }
            else if (Helper.IsInRole("User") || Helper.IsInRole("Manager"))
            {
                <div class="pull-right">
                    <a href="@Url.Action("MyBill","MyAccount",new { id = 0 })">View More</a>
                </div>
            }
        }
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-sm table-hover table-responsive table-condensed">
            <tbody>
                <tr>
                    <th>Date</th>                    
                    <th class="hidden-xs">Unit</th>                    
                    <th>Details</th>
                    <th class="hidden-xs">Due Date</th>
                    <th>Amount</th>                    
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillDate)
                        </td>
                        <td class="hidden-xs"><a href="@Url.Action("Details","BuildingUnit", new { id = item.UnitID })">@item.BuildingUnit.UnitName</a></td>                        
                        <td>
                            <a href="@Url.Action("Details","Due", new { id = item.DueID })" title="Details">@item.Details</a>
                        </td>                        
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td class="right">
                            @(item.DueAmount + item.Penalties.Where(d=>d.IsDeleted==false).Sum(s=>s.Amount))
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5">No Data available</td>
                    </tr>
                } 
            </tbody>
        </table>
    </div>
</div>
