@model IEnumerable<SocietyManagement.Models.Expense>


<div class="box box-danger" style="min-height:240px;">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-money"></i> Recent Expenses</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-sm table-hover table-responsive table-condensed">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpenseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpenseTypeID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaidTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseDate)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.ExpenseID })" title="Details">@item.ExpenseType.KeyValues</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidTo)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4">No Data available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
