@model IEnumerable<SocietyManagement.Models.Collection>
@using SocietyManagement.Models;

<div class="box box-success" style="min-height:240px;">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bank"></i> Recent Payments</h3>
        @if (Model.Count() > 0)
        {
            if (Helper.IsInRole("Manager") || Helper.IsInRole("Super"))
            {
                <div class="pull-right">
                    <a href="@Url.Action("Index","Collection")">View More</a>
                </div>
            }
            else if (Helper.IsInRole("User") || Helper.IsInRole("Manager"))
            {
                <div class="pull-right">
                    <a href="@Url.Action("MyPayment","MyAccount",new { id = 0 })">View More</a>
                </div>
            }
        }
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-sm table-hover table-responsive table-condensed">
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Unit</th>
                    <th>Receipt #</th>
                    <th class="hidden-xs">Mode</th>
                    <th>Amount</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CollectionDate)
                        </td>
                        <td><a href="@Url.Action("Details","BuildingUnit", new { id = item.UnitID })">@item.BuildingUnit.UnitName</a></td>
                        <td>
                            <a href="@Url.Action("Details","Collection", new { id = item.CollectionID })" title="Details">@item.ReceiptNumber</a>
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.PaymentMode.KeyValues)
                        </td>
                        <td class="right">
                            @(item.Amount - item.Discount)
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4">No Data available</td>
                        <td class="hidden-xs"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
