
@if (ViewBag.Units == 0)
{
    <div class="box-body">
        <div class="alert alert-info">
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            No Building Unit assigned to your user name. Please contact your Admin for details.
        </div>
    </div>
}
else
{
<!-- Small boxes (Stat box) -->
<div class="row" style="padding:10px 20px 0px 5px">
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("MyBill", "MyAccount", new { id = 0 })" class="small-box bg-aqua-gradient shadow">
            <div class="small-box-header"><i class="fa fa-list-alt hidden-lg hidden-md"></i> Maintance Bills</div>
            <div class="inner">
                <h3>₹ @ViewBag.BillAmount</h3>
                <p>@ViewBag.BillCount Bills</p>                
            </div>
            <div class="icon">
                <i class="fa fa-list-alt"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("MyPayment", "MyAccount", new { id = 0 })" class="small-box bg-green-gradient shadow">
            <div class="small-box-header"><i class="fa fa-bank hidden-lg hidden-md"></i> Payments</div>
            <div class="inner">
                <h3>₹ @ViewBag.PaymentAmount</h3>
                <p>@ViewBag.PaymentCount Payments</p>
            </div>
            <div class="icon">
                <i class="fa fa-bank"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("AccountStatement", "MyAccount", new { id = 0 })" class="small-box bg-maroon-gradient shadow">
            <div class="small-box-header"><i class="fa fa-calculator hidden-lg hidden-md"></i> Balance</div>
            <div class="inner">
                <h3>₹ @ViewBag.BalanceAmount</h3>
                <p>@ViewBag.BalanceDrCr</p>
            </div>
            <div class="icon">
                <i class="fa fa-calculator"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("Index", "Notification")" class="small-box bg-yellow-gradient shadow">
            <div class="small-box-header"><i class="fa fa-envelope-o hidden-lg hidden-md"></i> Notifications</div>
            <div class="inner">
                <h3>@ViewBag.Notification</h3>
                <p>@ViewBag.NewNotification</p>
            </div>
            <div class="icon">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
}