
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <a href="@Url.Action("MyBill", "Due", new { id = 0 })" class="small-box-header"><i class="fa fa-list-alt hidden-lg hidden-md"></i> Maintance Bills</a>
            <div class="inner">
                <h3>1,150</h3>
                <p>$ 34,234,23</p>
            </div>
            <div class="icon">
                <i class="fa fa-list-alt"></i>
            </div>
            <a href="@Url.Action("MyBill", "Due", new { id = 0 })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <a href="@Url.Action("MyPayment", "Collection", new { id = 0 })" class="small-box-header"><i class="fa fa-bank hidden-lg hidden-md"></i> Payments</a>
            <div class="inner">
                <h3>1,353</h3>
                <p>$ 1,21,23,123</p>
            </div>
            <div class="icon">
                <i class="fa fa-bank"></i>
            </div>
            <a href="@Url.Action("MyPayment", "Collection", new { id = 0 })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <a href="@Url.Action("BalanceSheet", "Due", new { id = 0 })" class="small-box-header"><i class="fa fa-calculator hidden-lg hidden-md"></i> Balance</a>
            <div class="inner">
                <h3>32,444</h3>
                <p>$ 1,21,23,123</p>
            </div>
            <div class="icon">
                <i class="fa fa-calculator"></i>
            </div>
            <a href="@Url.Action("BalanceSheet", "Due", new { id = 0 })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <a href="@Url.Action("Index", "Notification")" class="small-box-header"><i class="fa fa-envelope-o hidden-lg hidden-md"></i> Notifications</a>
            <div class="inner">
                <h3>50</h3>
                <p>New : 10</p>
            </div>
            <div class="icon">
                <i class="fa fa-envelope-o"></i>
            </div>
            <a href="@Url.Action("Index", "Notification")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->