
<!-- Small boxes (Stat box) -->
<div class="row" style="padding:10px 20px 0px 5px">
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("Index", "Due")" class="small-box bg-aqua">
            <div class="small-box-header"><i class="fa fa-list-alt hidden-lg hidden-md"></i> Maintance Bills</div>
            <div class="inner">
                <h4><b>₹ @ViewBag.BillAmount</b></h4>
                <p>@ViewBag.BillCount Bills</p>
            </div>
            <div class="icon">
                <i class="fa fa-list-alt"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("Index", "Collection")" class="small-box bg-green">
            <div class="small-box-header"><i class="fa fa-bank hidden-lg hidden-md"></i> Collections</div>
            <div class="inner">
                <h4><b>₹ @ViewBag.PaymentAmount</b></h4>
                <p>@ViewBag.PaymentCount Payments</p>
            </div>
            <div class="icon">
                <i class="fa fa-bank"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("Index", "Expense")" class="small-box bg-yellow">
            <div class="small-box-header"><i class="fa fa-pie-chart hidden-lg hidden-md"></i> Income</div>
            <div class="inner">
                <h4><b>₹ @ViewBag.PaymentAmount</b></h4>
                <p>@ViewBag.PaymentCount Transactions</p>
            </div>
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" style="padding-right:0px;">
        <!-- small box -->
        <a href="@Url.Action("Index", "Expense")" class="small-box bg-red">
            <div class="small-box-header"><i class="fa fa-money hidden-lg hidden-md"></i> Expenses</div>
            <div class="inner">
                <h4><b>₹ @ViewBag.ExpenseAmount</b></h4>
                <p>@ViewBag.ExpenseCount Vouchers</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
            <div class="small-box-footer hidden-xs">More info <i class="fa fa-arrow-circle-right"></i></div>
        </a>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->