@using SocietyManagement.Models;
@{
    ViewBag.Title = "Dashboard";
}


<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-dashboard"></i> @ViewBag.Title</h3>
</div>

<div class="box-body">
    @if (Helper.IsInRole("User") || Helper.IsInRole("Manager"))
    {
        @Html.Partial("_TopBoxUser")

        <div class="row" style="padding:5px 20px 0px 5px">
            <div class="col-md-6" style="padding-right:0px;">
                @Html.Partial("_Bills", (object)ViewBag.DueList)
            </div>            
            <div class="col-md-6" style="padding-right:0px;">
                @Html.Partial("_Payments", (object)ViewBag.CollectionList)
            </div>
        </div>
    }
    else if (Helper.IsInRole("Manger") || Helper.IsInRole("Super"))
    {
        @Html.Partial("_TopBox")

        <script src="~/Scripts/HighChart/highcharts.js"></script>
        <script src="~/Scripts/HighChart/data.js"></script>
        <script src="~/Scripts/HighChart/exporting.js"></script>

        <div class="row" style="padding:5px 20px 0px 5px">
            <div class="col-md-6" style="padding-right:0px;">
                @*@Html.Partial("_Bills", (object)ViewBag.DueList)*@
                @Html.Partial("_GraphBillPayment",(object)ViewBag.GraphBillPayment)
            </div>
            <div class="col-md-6" style="padding-right:0px;">
                @*@Html.Partial("_Payments", (object)ViewBag.CollectionList)*@
                @Html.Partial("_GraphIncomExpense", (object)ViewBag.GraphBillPayment)
            </div>
        </div>
        <div class="row" style="padding:5px 20px 0px 5px">
            <div class="col-md-6" style="padding-right:0px;">
                @*@Html.Partial("_Incomes", (object)ViewBag.DueList)*@
            </div>
            <div class="col-md-6" style="padding-right:0px;">
                @*@Html.Partial("_Expenses", (object)ViewBag.ExpenseList)*@
            </div>
        </div>
    }
</div>

