@model IEnumerable<SocietyManagement.Models.FinancialYear>
@{
    ViewBag.Title = "Financial Year";
}

<h3><span class="glyphicon glyphicon-calendar"></span> Financial Year</h3>

@if (User.IsInRole("Admin"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}
<table class="table table-sm table-hover table-responsive table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClosed)
        </th>
@if (User.IsInRole("Admin"))
{
        <th>Action</th>
}
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.YearID })" title="Details">@item.YearName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td class="center">
                    <a href="@Url.Action("Edit", new { id = item.YearID })" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="@Url.Action("Delete", new { id = item.YearID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            }
        </tr>
    }

</table>
