@model IEnumerable<SocietyManagement.Models.SystemSetting>

@{
    ViewBag.Title = "System Settings";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cog"></i> @ViewBag.Title</h3>
    @if (User.IsInRole("SuperUser"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">
    <table class="table table-sm table-hover table-responsive table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UDK1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettingValue)
            </th>
           
            @if (User.IsInRole("SuperUser"))
            {
                <th>Action</th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UDK1)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.SettingID })" title="Details">@item.SettingName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SettingValue)
                </td>
               
                @if (User.IsInRole("SuperUser"))
                {
                    <td class="list-action">
                        <a href="@Url.Action("Edit", new { id = item.SettingID })" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", new { id = item.SettingID })" title="Delete"><i class="fa fa-remove"></i></a>

                    </td>
                }
            </tr>
        }

    </table>
</div>