@model IEnumerable<SocietyManagement.Models.KeyValue>

@{
    ViewBag.Title = "Key Value";
}

<h2>Key Value</h2>

@if (User.IsInRole("Admin"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KeyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyValues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyOrder)
        </th>
        @if (User.IsInRole("Admin"))
        {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KeyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyValues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyOrder)
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.KeyID }) |            
            @Html.ActionLink("Delete", "Delete", new { id = item.KeyID })
        </td>
        }
    </tr>
}

</table>
