@model IEnumerable<SocietyManagement.Models.Forum>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Forum";
    
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-bullhorn"></i> @ViewBag.Title</h3>   
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>

</div>
<div class="box-body">

    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.ForumID">
                @if (item.ForumTitle.Length > 50)
                        {
                        <b>@item.ForumTitle.Substring(0, 50)...</b>
                        }
                        else
                        {
                        <b>@item.ForumTitle</b>
                        }
            </a>          
        </div>
        <div id="collapse_@item.ForumID" class="panel-collapse collapse">
            <div class="panel-body">
                @if (Helper.IsInRole("Admin") || Helper.IsInRole("Super") | SocietyManagement.Models.Helper.GetUserID(User) == item.AuthorID)
                            {
                                <div class="pull-right">
                                    <a href="@Url.Action("Edit", new { id = item.ForumID })" title="Edit"><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a><span> &nbsp; </span>
                                    <a href="@Url.Action("Delete", new { id = item.ForumID })" title="Delete"><i class="fa fa-remove"></i> <span class="hidden-xs">Delete</span></a><span> &nbsp; </span>
                                </div>
                             }
                @Html.Raw(item.Details.Replace("<a href","<a target='_blank' href"))
            </div>
            <div class="panel-footer">
                <i class="fa fa-user"></i> @item.Author.Name &nbsp;
                <i class="fa fa-calendar"></i> @item.CreatedDate.ToShortDateString() &nbsp;                
                <a href="@Url.Action("Details", new { id = item.ForumID })"><i class="fa fa-comments"></i> @item.ForumComments.Where(d => d.IsDeleted == false).Count() Comments</a> &nbsp;
                
            </div>
        </div>
    </div>
        }


    </div>

</div>
    <script>
        $(document).ready(function () {
            $(".panel-collapse").first().addClass("in");
        });
    </script>
