@model IEnumerable<SocietyManagement.Models.Forum>

@{
    ViewBag.Title = "Forum";
    
}

<h3><span class="glyphicon glyphicon-bullhorn"></span> Forum</h3>


@if (User.Identity.IsAuthenticated)
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="fa fa-plus-square"></span> Add New</a>
    </div>
}

<br />
    
<div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.ForumID">
                        @if (item.ForumTitle.Length > 50)
                        {
                        <b>@item.ForumTitle.Substring(0, 50)...</b>
                        }
                        else
                        {
                            <b>@item.ForumTitle</b>
                        }
                    </a>                    
                    <div class="pull-right">                        
                        <span class="glyphicon glyphicon-calendar"></span>@item.CreatedDate.ToShortDateString()
                    </div>
                </div>
                        <div id="collapse_@item.ForumID" class="panel-collapse collapse">                
                            <div class="panel-body">                                
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser") | SocietyManagement.Models.Helper.GetUserID(User) == item.AuthorID)
                            {
                                <div class="pull-right">
                                <a href="@Url.Action("Edit", new { id = item.ForumID })" title="Edit"><i class="glyphicon glyphicon-edit"></i></a><span></span>
                                <a href="@Url.Action("Delete", new { id = item.ForumID })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                             }
                                @Html.Raw(item.Details.Replace("<a href","<a target='_blank' href"))
                       </div>
                            <div class="panel-footer">
                                <a href="#"><span class="glyphicon glyphicon-user"></span>@item.Author.Name</a> &nbsp;
                                <a href="@Url.Action("Details", new { id = item.ForumID })"><span class="glyphicon glyphicon-comment"></span>@item.ForumComments.Where(d => d.IsDeleted == false).Count() Comments</a> &nbsp;                                
                            </div>
                        </div>
            </div>
        }

    
</div>

<script>
    $(document).ready(function(){
        $(".panel-collapse").first().addClass("in");
});
</script>