@model SocietyManagement.Models.Building

@{
    ViewBag.Title = "Building";
}

<h3><span class="icon-office"></span> Building</h3>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt>
            Units
        </dt>

        <dd>
            <a href="@Url.Action("Index","BuildingUnit",new { id = Model.BuildingID })">@Model.BuildingUnits.Where(d => d.IsDeleted == false).Count()</a>
        </dd>


    </dl>
</div>

<h4><span class="glyphicon glyphicon glyphicon-home"></span> Building Unit</h4>
@Html.Partial("_BuildingUnit", Model.BuildingUnits)

<p>
    <button onclick="goBack()" class="btn btn-success">Back</button>
</p>



