@model SocietyManagement.Models.Building

@{
    ViewBag.Title = "Building";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cubes"></i> @ViewBag.Title</h3>
</div>
<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt>
            Units
        </dt>

        <dd>
            <a href="@Url.Action("Index","BuildingUnit",new { id = Model.BuildingID })">@Model.BuildingUnits.Where(d => d.IsDeleted == false).Count()</a>
        </dd>


    </dl>


    <h4><span class="glyphicon glyphicon glyphicon-home"></span> Building Unit</h4>
    @Html.Partial("_BuildingUnit", Model.BuildingUnits)

   

</div>
<div class="box-footer">    
        <button onclick="goBack()" class="btn btn-primary">Back</button>
</div>


