@model SocietyManagement.Models.Building

@{
    ViewBag.Title = "Building";
}

<h3><span class="icon-office"></span> Building</h3>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingType.KeyValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>



