@model IEnumerable<SocietyManagement.Models.Building>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Building";
}
<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cubes"></i> @ViewBag.Title</h3>
    @if (Helper.IsInRole("Super"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">

    <table class="table table-sm table-hover table-condensed table-bordered">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BuildingName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuildingTypeID)
                </th>
                <th>
                    Units
                </th>
                @if (Helper.IsInRole("Super"))
            {
                    <th>Action</th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", new { id = item.BuildingID })" title="Details">@item.BuildingName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildingType.KeyValues)
                    </td>
                    <td>
                        <a href="@Url.Action("Index","BuildingUnit",new { id = item.BuildingID })">@item.BuildingUnits.Where(d => d.IsDeleted == false).Count()</a>
                    </td>
                    @if (Helper.IsInRole("Super"))
                {
                        <td class="list-action">
                            <a href="@Url.Action("Edit", new { id = item.BuildingID })" title="Edit"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.BuildingID })" title="Delete"><i class="fa fa-remove"></i></a>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>

</div>
